@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white;
  }
}

body {
  color: #fff;
  background: #000;

  @apply text-white;
}

h1 {
  @apply font-roboto;
}

p,
code,
span,
button {
  @apply text-white;
}

img {
  max-width: 100%;
}
